<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">
        <span class="brand">Vishy School of Yoga</span>
      </a>      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center">
          <li class="nav-item"><a class="nav-link" href="index.html#classes">Classes</a></li>
          <li class="nav-item"><a class="nav-link" href="index.html#schedule">Schedule</a></li>
          <li class="nav-item"><a class="nav-link" href="index.html#instructors">Instructor</a></li>
          <li class="nav-item"><a class="nav-link" href="index.html#contact">Contact</a></li>
          <li class="nav-item"><a class="nav-link" href="admissions.html">Admission-Form</a></li>
        </ul>
      </div>
    </div>
</nav>